<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
  
    <body style="color: rgb(95, 95, 170);">
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul>
  <li><a >Home</a></li>
  <li><a  >Brand</a></li>
  <li><a >Category</a></li>
  <li><a >Image</a></li>
  <li><a >Produt</a></li>
  </ul>
  </div>
  <div class="content">
        <div class="title" >
 welcome Administrator</div>

  </div>
  </body>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
  
    <body>
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul>
             <li><a >Home</a></li>
             <li><a >Brand</a></li>
             <li><a >Category</a></li>
             <li><a >Image</a></li>
             <li><a >Product</a></li>
  </ul>
  </div>
  <div class="content">
        <div class="title">welcome Administrator </div>
 
  </div>
  </body>
    