
<body>
<div class="table-title">
<h3>Orders </h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Order Id</th>
<th class="text-left">Order Date</th>
<th class="text-left">Delivery Address</th>
<th class="text-left">Total Amount</th>
<th class="text-left">Order Status</th>
<th class="text-left">Actions</th>

</tr>
</thead>
<tbody class="table-hover">
 
    <tr>
      <td class="text-left">aaaa</td>
      <td class="text-left">aaaaaa</td>
      <td class="text-left">aaaaaa</td>
      <td class="text-left">aaaaaa</td>
      <td class="text-left">aaaa</td>
      <td><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> <button type="button" class="btn btn-warning"><i class="fa fa-wrench" aria-hidden="true"></i></button></td>
      </tr>
      <tr>
        <td class="text-left">aaaa</td>
        <td class="text-left">aaaaaa</td>
        <td class="text-left">aaaaaa</td>
        <td class="text-left">aaaaaa</td>
        <td class="text-left">aaaa</td>
        <td><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> <button type="button" class="btn btn-warning"><i class="fa fa-wrench" aria-hidden="true"></i></button></td>
        </tr>
        <tr>
          <td class="text-left">aaaa</td>
          <td class="text-left">aaaaaa</td>
          <td class="text-left">aaaaaa</td>
          <td class="text-left">aaaaaa</td>
          <td class="text-left">aaaa</td>
          <td><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> <button type="button" class="btn btn-warning"><i class="fa fa-wrench" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <td class="text-left">aaaa</td>
            <td class="text-left">aaaaaa</td>
            <td class="text-left">aaaaaa</td>
            <td class="text-left">aaaaaa</td>
            <td class="text-left">aaaa</td>
            <td><button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> <button type="button" class="btn btn-warning"><i class="fa fa-wrench" aria-hidden="true"></i></button></td>
            </tr>

</tbody>
</table>
  

  </body>