
<div class="login-box">
  <h2>Add Category</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Id</label>
    </div>
    <div class="user-box">
        <input type="text" name="" required="">
        <label>Name</label>
      </div>
     
      <div class="user-box">
        <textarea  type=""></textarea>
        <label>Description</label>
      </div>
   
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Add Category
    </a>
  </form>
</div>
